__pycache__

backend/.venv/
/backend/modules/history/data/*.csv

.venv/
/backend/modules/eventlog/data/*.csv
/backend/modules/stats/data/*.csv


**/values.yaml

backend/modules/power_work/data/power_work_state.yaml

backend/modules/stats/data/stats_state.yaml
