APP_ROOT=/home/pi/furnace-brain
FRONT_DIR=/home/pi/furnace-brain/frontend

BACKEND_HOST=127.0.0.1
BACKEND_PORT=8000

GATEWAY_BIND=0.0.0.0
GATEWAY_PORT=8080

PYTHONPATH=/home/pi/furnace-brain
FURNACE_BRAIN_DATA_ROOT=/mnt/usb/furnace-brain
FURNACE_BRAIN_HW_RPI=1
