boiler_set_temp: 56.0
ignition_full_power_delta_degC: 6.0
ignition_high_power_percent: 100.0
ignition_min_power_delta_degC: 3.0
ignition_min_power_percent: 50.0
ignition_rate_band_k_per_min: 0.5
ignition_target_rate_k_per_min: 0.3
max_power: 100.0
max_slew_rate_percent_per_min: 5.0
min_power: 15.0
